@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-bangla: "Noto Serif Bengali", serif;
}

body {
  background-color: #fcfcfc;
  color: #1a1a1a;
  overflow-x: hidden;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
